<!DOCTYPE html>
<html lang="pl">

<head>
    {% block head %}
    <meta charset="utf-8">
    <title>Strona z Flaskiem</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css' ) }}">
    {% endblock %}

</head>

<body>

    <h1>Witaj na mojej stronie domowej </h1>
    <center>
        <a href="http://127.0.0.1:5000/mypage/me">O mnie</a>
        <a href="http://127.0.0.1:5000/mypage/contact">Kontakt</a>
    </center>
    <p></p>
    <img src="https://bi.im-g.pl/im/99/d6/ff/z16766617AMP,Albert-Einstein.jpg" alt="Einstein photo" title="Einstein"
        style="width:150px;height:150px;">
    <div id="content">{% block content %}{% endblock %}</div>

</body>

</html>